<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>ORDER HISTORY</h1>
        <div class="order-list">
            <% if(orders.length > 0){ %>
                <% orders.forEach(order => { %>

                    <div class="order-summary">
                        <h4>First Name: <%= order.firstName%></h4>
                        <h4>Last Name: <%= order.lastName%></h4>
                        <h4>Phone Number: <%= order.phoneNumber%></h4>
                        <h4>Pickup Date: <%= order.pickupDate%></h4>
                        <h4>Pickup Time: <%= order.pickupTime%></h4>
                        <h4>Items: </h4>
                        <ul>
                            <% order.items.forEach(item => { %>
                                <li><%= item[1]%> : <%= item[0]%></li>
                            <%  }) %>
                        </ul>
                        <h4>Special Instructions: <%= order["special-instructions"]%></h4>
                        <h4>Created: <%= order.createdAt%></h4>
                        <h2>Total: <%= order.total.toFixed(2)%> </h2>          
                    </div>

              <%  }) %>
           <% } %>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>