<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1 class="page-title">ORDER HISTORY</h1>
        <div class="order-list">
            <% if(orders.length > 0){ %>
                <% orders.forEach(order => { %>

                    <div class="order-summary">
                        <h4>First Name: <span class="regular"><%= order.firstName%></h4></span>
                        <h4>Last Name: <span class="regular"><%= order.lastName%></h4></span>
                        <h4>Phone Number: <span class="regular"><%= order.phoneNumber%></h4></span>
                        <h4>Pickup Date: <span class="regular"><%= order.pickupDate%></h4></span>
                        <h4>Pickup Time: <span class="regular"><%= order.pickupTime%></h4></span>
                        <h4>Items: </h4>
                        <ul>
                            <% order.items.forEach(item => { %>
                                <span class="regular"><li><%= item[0]%> : <%= item[3]%></li></span>
                            <%  }) %>
                        </ul>
                        <h4>Special Instructions: <span class="regular"><%= order.specialinstructions%></h4></span>
                        <h4>Created: <span class="regular"><%= order.createdAt%></h4></span>
                        <h2>Total: <span class="regular">$<%= order.total.toFixed(2)%> </h2></span>        
                    </div>

              <%  }) %>
           <% } else { %>

                <h1>Sorry, currently there are zero orders...</h1>
            <%  } %>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>