<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1 class="page-title">PRODUCTS</h1>
        <% let categories = []%>
        <% products.forEach(product => categories.push(product.category))%>
        <% let uniqueCategories = [...new Set(categories)] %>
        <div class="products-container">
            <% for (let i = 0; i < uniqueCategories.length; i++) { %>
                <div class="single-product">
                    <p><%= uniqueCategories[i].toUpperCase()  %></p>
                    <div class="product-info">
                        <img src="/assets/<%=uniqueCategories[i]%>.jpg" alt="<%= uniqueCategories[i] %>">
                        <div class="filling">
                            <h3 class="options">Options: </h3>
                            <% products.forEach(product => { %>
                            <% if (product.category == uniqueCategories[i]) { %>
                                    <a href="/products/<%= product.category %>/<%= product.filling %>"><%= product.filling %></a>
                            <% } %>
                        <%  }) %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>